body {
    margin: 0;
    padding: 0;
    background-image: url(bg.png);
  }
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 50%; /* Adjust as needed */
    height: auto;
  }
  
  .image-text {
    flex: 1;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }
  